{% extends "main/layout.html" %}


{% block content %}
    
<meta http-equiv="refresh" content="5">
<div class="features">
    <h1>Game</h1>
    <p>Game ID: {{ game.id }}</p>
    <p>Cross ID: {{ game.cross_id }}</p>
    <p>Nought ID: {{ game.nought_id }}</p>
    <p>Whose move: {{ game.whose_move }}</p>
    <p>Winner: {{ game.winner }}</p>
    
    <div class="board">
        <div class="game-board">
            {% for row in game.get_board %}
                <div class="board-row">
                    {% for cell in row %}
                        <div class="board-cell">{{ cell }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="form">
        <form method="post" action="{% url 'make_move' game.id %}">
            {% csrf_token %}
            <label for="move">Enter your move (1-9):</label>
            <input type="number" id="move" name="move" min="1" max="9" required>
            <button type="submit">Make Move</button>
        </form>
    </div>
</div>

<style>
    .form {
        margin-top: 20px;
    }
    /* Стили для игровой доски */
    .game-board {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 5px;
        grid-gap: 5px;
        margin-top: 5px;
        grid-auto-flow: row; 
    }

    .board-row {
        display: contents; 
    }

    .board-cell {
        width: 60px;
        height: 60px;
        border: 1px solid #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        cursor: pointer;
    }

    .board {
        width: 180px;
        height: 180px;
        margin: auto;
    }
</style>

{% endblock %}